.vs/
.vscode/
.idea/
*.sln
*.csproj
*.user
*~

/Library/
/Temp/
/Build/
/Automation/
/obj/
/Logs/
/UserSettings/

/Assets/TextMesh Pro*
/Assets/Resources/Shaders/Generated*

!Samples~
!Documentation~